#main {
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
    font-family : "Inter" , sans-serif ;
}
#button {
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
}
#brand {
    margin-top : 25px;
    font-weight : 600;
    font-size: 18px;

}

#heading {
    margin-top : -5px;
    
}

#google {
    display : flex;
    justify-content : center;
    align-items : center;
    width : 350px;
    height : 46px;
    border : 0.2px solid #D3D3D3;
    border-radius : 10px;
    margin-top:10px;
    position : relative;
    font-size : 15px;
    background-color : white;
}
#google:hover{
    background-color: #F8F8F8;
    border: 1px solid #D3D3D3;
}
#google img{
    position : absolute;
    left : 16px;
    width : 25px;
    height : 25px;
}



#form input{
    display:block;
    width : 350px;
    height : 46px;
    border-radius: 10px;
    border : 0.2px solid #D3D3D3;
}

