#main {
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
}
#button {
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
}

#heading {
    font-family : "Inter" , sans-serif ;
}

#google {
    width : 200px;
    border : 1px solid grey;
    
}